# Python
__pycache__/
*.pyc

# Virtual environment
.venv/


# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store

# Data
analysis/data/
data/**
!data/percolation/
!data/percolation/genc_v1/
!data/percolation/genc_v1/.gitkeep
*.gz
*.ubyte

# Outputs
outputsinterp/*
!outputsinterp/.gitkeep
outputstraining/*
!outputstraining/.gitkeep


# vscode
.vscode/